.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-primary {
  background-color: #a955c2;
  border-color: #a955c2;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #a955c2;
  border-color: #a955c2;
}

.btn-primary:focus:active {
  background-color: #a955c2;
  border-color: #a955c2;
}

.btn-outline-primary {
  color: #a955c2;
  border-color: #a955c2;
}

h1 {
  background: -webkit-linear-gradient(
    50deg,
    #a955c2 30%,
    #8f62c1 50%,
    #2596be 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8rem;
}

.card,
.card * {
  color: #ffffff;
  background-color: #343434;
}

.custom-card-shadow {
  border: 1px solid #a955c2;
}
.custom-navbar,
.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
  color: #ffffff;
}

.plain-bg {
  background-image: linear-gradient(rgb(34, 34, 34), rgb(34, 34, 34));
}

.purple-text {
  color: #a955c2; /* Purple */
}

.scroll-container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}

.snap-row {
  scroll-snap-align: start;
}

.title-mt {
  margin-top: 9rem; /* or any value that suits your design */
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: #3c5248;
  border-color: #3c5248;
}

.app-container {
  background-color: #f2f2f2; /* Your desired color */
  min-height: 100vh; /* 100% of the viewport height */
  margin: 0;
  padding: 0;
}

html {
  background-color: #f2f2f2; /* Replace #yourColor with your actual color hex code */
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adjust text size for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 4rem; /* Adjust as needed */
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem; /* Adjust as needed */
  }
}
