.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-primary {
  background-color: #6b9080;
  border-color: #6b9080;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #3c5248;
  border-color: #3c5248;
}

.btn-primary:focus:active {
  background-color: #3c5248;
  border-color: #3c5248;
}

.btn-outline-primary {
  color: #6b9080;
  border-color: #6b9080;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: #3c5248;
  border-color: #3c5248;
}

.app-container {
  background-color: #f2f2f2; /* Your desired color */
  min-height: 100vh; /* 100% of the viewport height */
  margin: 0;
  padding: 0;
}

html {
  background-color: #f2f2f2; /* Replace #yourColor with your actual color hex code */
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
